.gallery-item:nth-child(1) {
    grid-row: span 2;
    grid-column: span 2;
    height: calc(305px - 2px);
    width: calc(305px - 2px);
}

.gallery-item {
    height: calc(150px - 2px);
    width: calc(150px - 2px);

    border: 1px solid gray;
    border-radius: 8px;
    background-color: #FFF;
    background-size: cover;
    text-align: left;
    transition-duration: 0.09s;
    transition-timing-function: ease-in;
    transition: opacity;

}

.gallery-item input {
    margin: 20px;
    height: 20px;
    width: 20px;
    opacity: 1;
}

.dummy {
    height: 100%;
    background-color: aliceblue !important;
    border-radius: 8px;
}